<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">

    <div class="col-12 col-lg-6">

        <img src="/img/hero-image.png" width="607" height="510" class="d-block mx-lg-auto img-fluid" Loading="lazy" alt="Cooking with Node.js">

    </div>

    <div class="col-12 col-lg-6">

        <h1 class="display-5 fw-bold mb-3">
            
        </h1>
    </div>
</div>